<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_serv</servlet-name>
        <servlet-class>signin.signin_serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup_serv</servlet-name>
        <servlet-class>signup.Signup_serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin_serv</servlet-name>
        <servlet-class>signin.Signin_serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerEquipeServ</servlet-name>
        <servlet-class>creer_equipe.CreerEquipeServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerEquipe</servlet-name>
        <servlet-class>equipe.CreerEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnedTeamServ</servlet-name>
        <servlet-class>equipe.OwnedTeamServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChatServ</servlet-name>
        <servlet-class>chat.AdminChatServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntegrerEquipe</servlet-name>
        <servlet-class>equipe.IntegrerEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntegratedTeamServ</servlet-name>
        <servlet-class>equipe.IntegratedTeamServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTeamMembers</servlet-name>
        <servlet-class>equipe.DisplayTeamMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAdminChat</servlet-name>
        <servlet-class>equipe.DisplayAdminChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromTeam</servlet-name>
        <servlet-class>equipe.RemoveFromTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTeam</servlet-name>
        <servlet-class>equipe.RemoveTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuitterGroupe</servlet-name>
        <servlet-class>equipe.QuitterGroupe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_serv</servlet-name>
        <url-pattern>/login_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup_serv</servlet-name>
        <url-pattern>/Signup_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin_serv</servlet-name>
        <url-pattern>/Signin_serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerEquipeServ</servlet-name>
        <url-pattern>/CreerEquipeServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerEquipe</servlet-name>
        <url-pattern>/CreerEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnedTeamServ</servlet-name>
        <url-pattern>/OwnedTeamServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChatServ</servlet-name>
        <url-pattern>/AdminChatServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntegrerEquipe</servlet-name>
        <url-pattern>/IntegrerEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntegratedTeamServ</servlet-name>
        <url-pattern>/IntegratedTeamServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTeamMembers</servlet-name>
        <url-pattern>/DisplayTeamMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAdminChat</servlet-name>
        <url-pattern>/DisplayAdminChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromTeam</servlet-name>
        <url-pattern>/RemoveFromTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTeam</servlet-name>
        <url-pattern>/RemoveTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuitterGroupe</servlet-name>
        <url-pattern>/QuitterGroupe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
